*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.belk-header{
    box-sizing: border-box;
    height: 100px;
    width: 100%;
  
   
}
.head-top{
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.head-top>div{
    color: white;
    display: flex;
    align-items: center;
}
.head-second{
    height: 60px;
   background-color: whitesmoke;
}
.head-third{
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}
.navbar{
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.logo{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin-right: 0;
    
    
}
/* search part start */
.search{
   width: 730px;
   height: 38px;
   margin: 4px 0;
   display: flex;
   align-items: center;
   background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(31, 30, 30);
}
.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 20px;
}
.search button{
  padding: 0 10px;
   background-color: transparent;
   border: none;
   
}
/* search part end */
.contain{
    display: flex;
    gap: 10px;
}

.nav1 a{
    text-decoration: none;
    color: black;
}
.nav1 a .plus{
   text-align: center;
}
.plus i{
    height: 100%;
    
}
.plus1{
   /* font-size: 12px !important; */
}
.nav1{
    position: relative;
}
.nav1:after{
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 1.8px;
    width: 0;
    left: 0;
    bottom: -2px;
}
.nav1:hover:after{
    width: 100%;
}
.pipe{
    display: flex;
   font-size: 25px;
}
/* head 3rd part */

.product1 ul{
    display: flex;
    gap: 20px;
}
.product1>ul>li{
    list-style: none;
}
.product1>ul>li>a{
    text-decoration: none;
    color: black;
}
/* drop down menu */

.drop{
  position: relative;
  width: 95vw;
  position: sticky;
  
}
.drop-menu{
    position: absolute;
    width: 95vw;
    height: 400px;
    margin: auto;
    background-color: whitesmoke;
    top: 20px;
     display: none;
}
.women{
    margin-left: -50px;
}
.men{
    margin-left: -120px;
}
.kids{
    margin-left: -170px;
}

.drp:hover .drop-menu {
  display: block;
  align-items: flex-start;
}
.dp{
    
    flex-direction: column;
    padding: 30px 0 0 20px;
}

.dp>li{
    list-style: none;
    line-height: 3px;
    font-size: 14px;
   
}
.rew-drop{
    margin-left: 68%;
    margin-right: 15%;
    display: none;
}
.reward:hover .rew-drop{
    display: block;
}
.flex{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.dp>li:hover{
    color: blueviolet;
    cursor: pointer;
}

.cozy{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.cozy>a>img{
    width: 100%;
    object-fit: cover;
}

.card1{
    width: 95%;
    margin: auto;
   
}
.grid1{
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-top: 20px;
}
.grid1>div{
    height: 261px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.grid1>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightathome{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.rgt>a>img{
    width: 100%;

}
.offer{
    margin-top: -10px;
    background-color: #C7CED9;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.refresh{
    margin-top: 20px;
}
.refresh>a>img{
    width: 100%;
}
.saving{
    margin-top: 30px;
    background-color: #F7F3EB;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.off{
    display: grid;
    background-color: #F7F3EB;
    grid-template-columns: repeat(4,1fr);
}
.exclusive{
    margin-top: 20px;
}
.exclusive>a>img{
   width: 100%;
}
.conns{
    margin-top: 20px;
}
.conns>a>img{
   width: 100%;
}
.conns>a>img:nth-child(2){
   margin-top: -10px;
}
.upto{
    margin-top: 20px;
}
.winterbl{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.grid8{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.grid8>a>img{
    width: 100%;
}
.extr20{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    margin: 0 20px;
}

.extra10>a>img{
    width: 100%;

}
.pickup{
    margin-top: 20px;
    background-color: #F7F3EB;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.topsellers{
    margin-top: 50px;
}

/* SLIDER PART */

.container div{
    width: 95%;
    margin: auto;
    background-color: #FBE9E7;
   }
   .container button{
    background-color: rgb(230, 161, 161);
    border: 10%;
    padding: 2%;
    margin-right: 2%;
   }