
*{
    margin: 0px;
    padding: 0px;
}
.menHeading{
    margin-top: 50px;
    padding: 5px 0px 5px 3px;
}
.topContainer{
    /* margin-top: 100px; */
    /* border: 1px solid teal; */
    width: 18%;
    position: absolute;
    height: 45vh;
}
.topCart{
    overflow: auto;
    /* width: 30%; */
    height: 45vh;
}
.item{
    cursor: pointer;
   border: 1px solid rgba(128, 128, 128, 0.575);
   padding: 5px 0px 5px 3px;
   border-left: 0px;
   border-top: 0px;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    margin-left: 80px;
}
.left{
    width: 20%;
    /* border: 2px solid green; */
}
.right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 70%;
    /* border: 2px solid yellow; */
}
.cart{
    width: 95%;
    border: 1px solid grey;
}
.image{
    width: 100%;
    height: 65%;
}
.catAndSize{
    color: rgba(0, 0, 0, 0.811);
    display: flex;
     margin: auto;
    margin-top: 15px;
   
    width: 90%;
    justify-content: space-between;
}
.title{
    /* margin-top: 10px; */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.719);
}
.addDiv{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.price{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.792);
}
.addToCart{
    background-color: #212121;
    color: white;
    /* margin-top: 15px; */
    padding: 7px 12px;
    border-radius: 5px;
    border: 0px;
    /* margin: auto; */
}
.selectDiv{
    border: 1px solid rgba(12, 11, 11, 0.231);
    display: flex;
    padding: 5px 0px 5px 3px;
    justify-content: space-between;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
#selectDiv{
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.231);
}
.select{
    border: 0px;
    outline: 0px;
}
.Size{
    background-color: teal;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.selectDivv{
    display: flex;
    justify-content: space-between;
}
#price{
    /* border: 1px solid black; */
    margin-top: 4px;
}
#min{
    border: 0px;
    width: 60px;
    outline: 0px;
}
#max{
    border: 0px;
    width: 60px;
    outline: 0px;
}
#priceDiv{
    /* border: 1px solid red; */
}
#searchImagePrice{
    width: 30px;
    height: 30px;
    border: 0px;
    outline: 0px;
}