<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cartSectionMens.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="topContainer"> 
                <h4 class="menHeading">Men's Clothing</h4>
                <div class="topCart">
                    <div class="item">Active & Outdoor</div>
                    <div class="item">Designer</div>
                    <div class="item">Dress Shirt</div>
                    <div class="item">Graphic Tees</div>
                    <div class="item">Hoodies & Sweatshirt</div>
                    <div class="item">Jackets & Coats</div>
                    <div class="item">Jeans</div>
                    <div class="item">Pajamas & Loungwear</div>
                    <div class="item">Pants</div>
                    <div class="item">Shirt</div>
                    <div class="item">Shorts</div>
                    <div class="item">Socks</div>
                    <div class="item">Sport Cpats & Blazers</div>
                    <div class="item">Suit Separates</div>
                    <div class="item">Suits</div>
                    <div class="item">Sweaters</div>
                    <div class="item">Swim Trunks</div>
                    <div class="item">Underwear</div>
                </div>
                <div class="bottomCart">
                    <div class="selectDiv" id="selectDiv">
                        <p id="size">Size</p>
                        <select name="" id="size" class="select"></select>
                    </div>
                    <div class="selectDiv">
                        <p id="color">Color</p>
                        <select name="" id="size" class="select"></select>
                    </div>
                    <div class="selectDiv">
                        <p id="brand">Brand</p>
                        <select name="" id="size" class="select"></select>
                    </div>
                    <div class="selectDiv">
                        <p id="size">Size</p>
                        <select name="" id="size" class="select"></select>
                    </div>
                </div>
            </div> 
           
            
        </div>
        
        <div class="right"></div>
    </div>
</body>
<script src="cartSectionMens.js"></script>
</html>