<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAV-BAR</title>
    <link rel="stylesheet" href="indexStyle.css">
    <link rel="stylesheet" href="dropStyle.css">
    <link rel="stylesheet" href="dropWomen.css">
    <link rel="stylesheet" href="dropMen.css">
    <link rel="stylesheet" href="dropKids.css">
</head>
<body>
    <!-- NAV BAR Start HERE ------->
    <div class="navContainer">
        <div class="topNav">
            <p id="freeShipping">freeShipping @$49</p>
            <p id="enableAcc">Enable Accesibility</p>
        </div>
        <div class="midNav">
            <div class="leftMid">
                <p id="logo">belk</p>
                <input id="input" type="text" placeholder="What can we help you find?">
                <button type="submit"><img id="searchImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz1suOaJg8TNh8ZH-8dm3IXIDKSEA7KrxuYA&usqp=CAU" alt=""></button>
            </div>
            <hr class="hrNav1">
            <div class="rightMid">
                <div id="reward" class="midAllDiv">
                    <img id="rewardImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0j5RLFLYLMFQv-1v62KX_dU1zKa_-fmkD-Q&usqp=CAU" alt="">
                    <p>Belk Rewards+</p>
                </div>
                <div id="coupons" class="midAllDiv">
                    <div>
                        <span id="dollarSign" style='font-size:20px;'>&#36;</span>
                    </div>
                    <p>Coupons</p>
                </div>
                <div id="myAcc" class="midAllDiv">
                    <img id="accImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPJGQzpOi7r0FvRJ1ApnvZ6MxuiP-h517DDA&usqp=CAU alt=">
                    <p>My Account</p>
                </div>
                <hr class="hrNav">
                <div id="bag" class="midAllDiv">
                    <img id="bagImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUwTJJWgY_YJ_EubAzNZvIHWQjEH-yirjllg&usqp=CAU" alt="">
                    <p>Bag</p>
                </div>
            </div>
        </div>
        <div class="bottomNav">
            <div class="leftBottom">
                <p id="gifts" class="allCategory">Gifts</p>
                <p id="women" class="allCategory">Women</p>
                <p id="men" class="allCategory">Men</p>
                <p id="kids" class="allCategory">Kids</p>
                <p id="shoes" class="allCategory">Shoes</p>
                <p id="handbags" class="allCategory">Handbags</p>
                <p id="jewelry" class="allCategory">Jewelry</p>
                <p id="beauty" class="allCategory">Beauty</p>
                <p id="home" class="allCategory">Home</p>
                <p id="bedBath" class="allCategory">Ben & Bath</p>
                <p id="conns" class="allCategory">Conn's Belk</p>
                <p id="Brand" class="allCategory">Brands</p>
                <p id="clearance">Clearance</p>
            </div>
            <p id="rightbottomDes">Find A Store</p>
            <!-- <div class="rightbottom">
                <img id="rightbottomImg" src="" alt="">
                
            </div> -->
        </div>
    </div>
    <!------- NAV BAR END HERE ----------->

    <!------------ DROP DOWN START HERE-------->

    <!------------- For Gifts ------------>
    <div class="dropContainer">
        <div class="dropCart">
            <div class="dropright">
                <h5 id="gifts" class="giftsHeading">Gifts</h5>
                <p id="beautyGifts" class="allGiftsRight">Beauty Gifts</p>
                <p id="cozyShop" class="allGiftsRight">Cozy Shop</p>
                <p id="desinerHand" class="allGiftsRight">Designer Handbags</p>
                <p id=" FriendlyecoFriendly" class="allGiftsRight">Eco</p>
                <p id="fineJewelry" class="allGiftsRight">Fine Jewelry
                <p id="forTrend" class="allGiftsRight">For the Trend Setter</p>
                <p id="giftsCard" class="allGiftsRight">Gift Cards</p>
                <p id="holidayDecore" class="allGiftsRight">Holiday Decore</p>
                <p id="holidayPajama" class="allGiftsRight">Holiday Pajamas</p>
                <p id="intimates" class="allGiftsRight">Intimates</p>
            </div>
            <div class="dropLeft">
                <div class="topDiv">
                    <div class="allDiv">
                        <h5 id="allGifts" class="giftsHeading">All Gifts</h5>
                        <p id="giftForHer" class="allGifts">Gits for Her</p>
                        <p id="giftForHim" class="allGifts">Fifts for Him</p>
                        <p id="giftForKids" class="allGifts">Gifts for Kids</p>
                        <p id="giftForPets" class="allGifts">Gifts for Pets</p>
                        <p id="giftForHome" class="allGifts">Gifts for the Home</p>
                        <p id="giftCard" class="allGifts">Gifts Cards</p>
                        <p id="shopAll" class="allGifts">Shop All...</p>
                    </div>
                    <div class="allDiv">
                        <h5 id="giftByPrice" class="giftsHeading">Giftd by Price</h5>
                        <p id="under$10" class="allGifts">Under $10</p>
                        <p id="under$25" class="allGifts">Under $25</p>
                        <p id="under$50" class="allGifts">Under $50</p>
                        <p id="under$100" class="allGifts">Under $100</p>
                        <p id="over$100" class="allGifts">Over $100</p>
                        <p id="giftsCards" class="allGifts">Gifts Cards</p>
                        <p id="shopAlls" class="allGifts">Shop All...</p>
                    </div>
                    <div class="allDiv">
                        <h5 id="giftByRecipient" class="giftsHeading">Gifts by Recipient</h5>
                        <p id="forFoodies" class="allGifts">For the Foodie</p>
                        <p id="forHostess" class="allGifts">For the Hostess</p>
                        <p id="forOutdoor" class="allGifts">For the Outdoorsman</p>
                        <p id="forSports" class="allGifts">For the Sports Fan</p>
                        <p id="forTechie" class="allGifts">For the Techie</p>
                        <p id="giftCardss" class="allGifts">Gift Cards</p>
                        <p id="shopAllss" class="allGifts">Shop All...</p>
                    </div>
                </div>
                <div class="bottomDiv">
                    <div class="allDiv">
                        <h5 id="justForKids" class="giftsHeading">Just for Kids</h5>
                        <p id="activeGear" class="allGifts">Active Gear</p>
                        <p id="holidayPajama" class="allGifts">Holiday Pajamas</p>
                        <p id="kidsFanGear" class="allGifts">Kids Fan Gear</p>
                        <p id="ToysGames" class="allGifts">Toys & Games</p>
                        <p id="bottomgiftCards" class="allGifts">Gift Cards</p>
                        <p id="bottomshopAlls" class="allGifts">Shop All...</p>
                    </div>
                    <div class="allDiv">
                        <h5 id="favoriteBrands" class="giftsHeading">Favorite Brands</h5>
                        <p id="brahmin" class="allGifts">Brahmin</p>
                        <p id="esteeLauder" class="allGifts">Estee Lauder</p>
                        <p id="freePeople" class="allGifts">Free People</p>
                        <p id="michael" class="allGifts">Michael Kors</p>
                        <p id="ralph" class="allGifts">Ralph Lauren</p>
                        <p id="bottomshopAllss" class="allGifts">Shop All...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------- Gifts End Here ----------->

    <!----------- For Women -------------->
    <div class="dropContainerwomen">
        <div class="dropCartwomen">
            <div class="droprightwomen">
                <h5 id="giftswomen" class="giftsHeadingwomen">Women's</h5>
                <p id="beautyGiftswomen" class="allGiftsRight">Beauty Gifts</p>
                <p id="cozyShopwomen" class="allGiftsRight">Cozy Shop</p>
                <p id="desinerHandwomen" class="allGiftsRight">Designer Handbags</p>
                <p id=" FriendlyecoFriendlywomen" class="allGiftsRight">Eco</p>
                <p id="fineJewelrywomen" class="allGiftsRight">Fine Jewelry
                <p id="forTrendwomen" class="allGiftsRight">For the Trend Setter</p>
                <p id="giftsCardwomen" class="allGiftsRight">Gift Cards</p>
                <p id="holidayDecorewomen" class="allGiftsRight">Holiday Decore</p>
                <p id="holidayPajamawomen" class="allGiftsRight">Holiday Pajamas</p>
                <p id="intimateswomen" class="allGiftsRight">Intimates</p>
            </div>
            <div class="dropLeftwomen">
                <div class="topDivwomen">
                    <div class="allDivwomen">
                        <h5 id="allGiftswomen" class="giftsHeadingwomen">Women's Beauty</h5>
                        <p id="giftForHerwomen" class="allGiftswomen">Gits for Her</p>
                        <p id="giftForHimwomen" class="allGiftswomen">Fifts for Him</p>
                        <p id="giftForKidswomen" class="allGiftswomen">Gifts for Kids</p>
                        <p id="giftForPetswomen" class="allGiftswomen">Gifts for Pets</p>
                        <p id="giftForHomewomen" class="allGiftswomen">Gifts for the Home</p>
                        <p id="giftCardwomen" class="allGiftswomen">Gifts Cards</p>
                        <p id="shopAllwomen" class="allGiftswomen">Shop All...</p>
                    </div>
                    <div class="allDivwomen">
                        <h5 id="giftByPricewomen" class="giftsHeadingwomen">Women Giftd by Price</h5>
                        <p id="under$10women" class="allGiftswomen">Under $10</p>
                        <p id="under$25women" class="allGiftswomen">Under $25</p>
                        <p id="under$50women" class="allGiftswomen">Under $50</p>
                        <p id="under$100women" class="allGiftswomen">Under $100</p>
                        <p id="over$100women" class="allGiftswomen">Over $100</p>
                        <p id="giftsCardswomen" class="allGiftswomen">Gifts Cards</p>
                        <p id="shopAllswomen" class="allGiftswomen">Shop All...</p>
                    </div>
                    <div class="allDivwomen">
                        <h5 id="giftByRecipientwomen" class="giftsHeadingwomen">Women Gifts by Recipient</h5>
                        <p id="forFoodieswomen" class="allGiftswomen">For the Foodie</p>
                        <p id="forHostesswomen" class="allGiftswomen">For the Hostess</p>
                        <p id="forOutdoorwomen" class="allGiftswomen">For the Outdoorsman</p>
                        <p id="forSportswomen" class="allGiftswomen">For the Sports Fan</p>
                        <p id="forTechiewomen" class="allGiftswomen">For the Techie</p>
                        <p id="giftCardsswomen" class="allGiftswomen">Gift Cards</p>
                        <p id="shopAllsswomen" class="allGiftswomen">Shop All...</p>
                    </div>
                </div>
                <div class="bottomDivwomen">
                    <div class="allDivwomen">
                        <h5 id="justForKidswomen" class="giftsHeadingwomen">Women & Kids</h5>
                        <p id="activeGearwomen" class="allGiftswomen">Active Gear</p>
                        <p id="holidayPajamawomen" class="allGiftswomen">Holiday Pajamas</p>
                        <p id="kidsFanGearwomen" class="allGiftswomen">Kids Fan Gear</p>
                        <p id="ToysGameswomen" class="allGiftswomen">Toys & Games</p>
                        <p id="bottomgiftCardswomen" class="allGiftswomen">Gift Cards</p>
                        <p id="bottomshopAllswomen" class="allGiftswomen">Shop All...</p>
                    </div>
                    <div class="allDivwomen">
                        <h5 id="favoriteBrandswomen" class="giftsHeadingwomen">Women's Favorite Brands</h5>
                        <p id="brahminwomen" class="allGiftswomen">Brahmin</p>
                        <p id="esteeLauderwomen" class="allGiftswomen">Estee Lauder</p>
                        <p id="freePeoplewomen" class="allGiftswomen">Free People</p>
                        <p id="michaelwomen" class="allGiftswomen">Michael Kors</p>
                        <p id="ralphwomen" class="allGiftswomen">Ralph Lauren</p>
                        <p id="bottomshopAllsswomen" class="allGiftswomen">Shop All...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------- Women End Here -------------->

    <!-------- Men's Start ------------>
    <div class="dropContainerMen">
        <div class="dropCartMen">
            <div class="droprightMen">
                <h5 id="giftsMen" class="giftsHeadingMen">Men</h5>
                <p id="newArrivalsMen" class="allGiftsRightMen">New Arrivals</p>
                <p id="theCultureMen" class="allGiftsRightMen">The Culture Shop</p>
                <p id="desinerMen" class="allGiftsRightMen">Designer</p>
                <p id=" familySleepMen" class="allGiftsRightMen">Family of Sleep</p>
                <p id="fineGearMen" class="allGiftsRightMen">Fan Gear</p>
                <p id="formalWearMen" class="allGiftsRightMen">Formal Wear & Weddding</p>
                <p id="giftShopMen" class="allGiftsRightMen">Gift Shop</p>
                <p id="outdoorShopMen" class="allGiftsRightMen">Outdoor Shop</p>
                <p id="menClearance" class="allGiftsRightMen">Men's Clearance</p>
                <p id="giftCardMen" class="allGiftsRightMen">Gift Cards</p>
            </div>
            <div class="dropLeftMen">
                <div class="topDivMen">
                    <div class="allDivMen">
                        <h5 id="mensClothing" class="giftsHeadingMen">Men's Clothing</h5>
                        <p id="dressShirtMen" class="allGiftsMen">Dress Shirt</p>
                        <p id="jeansMen" class="allGiftsMen">Jeans</p>
                        <p id="patsMen" class="allGiftsMen">Pants</p>
                        <p id="ShirtsMen" class="allGiftsMen">Shirts</p>
                        <p id="suitSeparateMen" class="allGiftsMen">Suit Separates</p>
                        <p id="shopAllMen" class="allGiftsMen">Shop All...</p>
                    </div>
                    <div class="allDivMen">
                        <h5 id="bigTallClothingMen" class="giftsHeading">Big & Tall Clothing</h5>
                        <p id="activeOutMen" class="allGifts">Active & Outdoor</p>
                        <p id="pantsBigMen" class="allGifts">Pants</p>
                        <p id="polosMen" class="allGifts">Plols</p>
                        <p id="shirtBigMen" class="allGifts">Shirts</p>
                        <p id="suitSportMen" class="allGifts">Suit & Sport Coats</p>
                        <p id="shopAllsMen" class="allGifts">Shop All...</p>
                    </div>
                    <div class="allDivMen">
                        <h5 id="youngMensClothing" class="giftsHeading">Young Men's Clothing</h5>
                        <p id="activeOut1Men" class="allGifts">Active & Outdoor</p>
                        <p id="graphicTees" class="allGifts">Graphic Tees</p>
                        <p id="hoodies" class="allGifts">Hoodies & Sweatshirt</p>
                        <p id="jeansYoungMen" class="allGifts">Jeans</p>
                        <p id="shirtsYoungMen" class="allGifts">Shirts</p>
                        <p id="shopAllss" class="allGifts">Shop All...</p>
                    </div>
                </div>
                <div class="bottomDivMen">
                    <div class="allDivbottMen">
                        <h5 id="shoesMen" class="giftsHeadingbott">Shoes</h5>
                        <p id="bootsMen" class="allGiftsbott">Boots</p>
                        <p id="casualShoesMen" class="allGiftsbott">casual Shoes</p>
                        <p id="dressShoesMen" class="allGiftsbott">Dress Shoes</p>
                        <p id="slippersMen" class="allGiftsbott">Slippers</p>
                        <p id="sneakersMen" class="allGiftsbott">Sneakers</p>
                        <p id="bottomshopAll" class="allGiftsbott">Shop All...</p>
                    </div>
                    <div class="allDivbottMen">
                        <h5 id="mensAccessories" class="giftsHeadingbott">Men's Accessories</h5>
                        <p id="beltSuspenderMen" class="allGiftsbott">Belts & Suspenders</p>
                        <p id="giftGadgetsMen" class="allGiftsbott">Gifts & Gadgets</p>
                        <p id="hatsMen" class="allGiftsbott">Hats</p>
                        <p id="tiesPocketSqrtsMen" class="allGiftsbott">Ties & Pocket Squares</p>
                        <p id="wlletsMoneyMen" class="allGiftsbott">Wllet & Money Clips</p>
                        <p id="bottomshopAlls" class="allGiftsbott">Shop All...</p>
                    </div>
                    <div id="allDivbottMen" class="allDivbottMen">
                        <h5 id="menJewelryWatches" class="giftsHeadingbott">Men's Jewelry & Watches</h5>
                        <p id="braceletsMen" class="allGiftsbott">Brcelets</p>
                        <p id="jewelrySetsMen" class="allGiftsbott">Jewelry Sets</p>
                        <p id="necklacesMen" class="allGiftsbott">Necklaces</p>
                        <p id="ringsMen" class="allGiftsbott">Rings</p>
                        <p id="watchesMen" class="allGiftsbott">Watches</p>
                        <p id="bottomshopAllss" class="allGiftsbott">Shop All...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------- Men's End Here ------------>

    <!-------- Kids Start ------------>
    <div class="dropContainerKids">
        <div class="dropCartKids">
            <div class="droprightKids">
                <h5 id="giftsKids" class="giftsHeadingKids">Kids</h5>
                <p id="newArrivalsKids" class="giftsHeadingKids">New Arrivals</p>
                <p id="babyEssentialsKids" class="giftsHeadingKids">Baby Essentials</p>
                <p id="birthdayKids" class="giftsHeadingKids">Birthday & Holiday</p>
                <p id="characterShopKids" class="giftsHeadingKids">Character Shop</p>
                <p id="theCultureKids" class="giftsHeadingKids">The Culture Shop</p>
                <p id="dresswearKids" class="giftsHeadingKids">Dresswear</p>
                <p id=" familySleepKids" class="giftsHeadingKids">Family of Sleep</p>
                <p id="giftShopKids" class="giftsHeadingKids">Gift Shop</p>
                <p id="kidsShoesKids" class="giftsHeadingKids">Kids'Shoes</p>
                <p id="nurseryDecorKids" class="giftsHeadingKids">Nursery & Decor</p>
                <p id="toysGamesKids" class="giftsHeadingKids">Toys & Games</p>
                <p id="babyKidsClearance" class="giftsHeadingKids">Baby & Kids Clearance</p>              
                <p id="giftCardKids" class="giftsHeadingKids ">Gift Cards</p>
            </div>
            <div class="dropLeftKids">
                <div class="topDivKids">
                    <div class="allDivKids">
                        <h5 id="boysClothing" class="giftsHeadingMen">Boys'Clothing</h5>
                        <p id="ActivewearBoys" class="allGiftsMen">Activewear</p>
                        <p id="jeansBoys" class="allGiftsMen">Jeans</p>
                        <p id="patsBoys" class="allGiftsMen">Pants</p>
                        <p id="ShirtsBoys" class="allGiftsMen">Shirts</p>
                        <p id="SuitDresswearBoys" class="allGiftsMen">Suit & Dresswear</p>
                        <p id="shopAllBoys" class="allGiftsMen">Shop All...</p>
                    </div>
                    <div class="allDivKids">
                        <h5 id="GirlsClothing" class="giftsHeading">Girls'Clothing</h5>
                        <p id="ActivewearGirls" class="allGifts">Activewear</p>
                        <p id="DressesSkirtsJeansGirls" class="allGifts">Dresses & Skirts Jeans</p>
                        <p id="SetsOutfitsGirls" class="allGifts">Sets & Outfits</p>
                        <p id="topGirls" class="allGifts">Tops</p>
                        <p id="shopAllsGirls" class="allGifts">Shop All...</p>
                    </div>
                    <div class="allDivKids">
                        <h5 id="BabyClothing" class="giftsHeading">Baby Clothing</h5>
                        <p id="DressesBaby" class="allGifts">Dresses</p>
                        <p id="OnePiBaby" class="allGifts">One-pieses</p>
                        <p id="OutfitsSetsBaby" class="allGifts">Outfits & Sets</p>
                        <p id="PajamaBaby" class="allGifts">Pajama</p>
                        <p id="ShirtsTopsBaby" class="allGifts">Shirts & Tops</p>
                        <p id="shopAllBaby" class="allGifts">Shop All...</p>
                    </div>
                </div>
                <div class="bottomDivKids">
                    <div class="allDivbottKids">
                        <h5 id="Juniors'Clothing" class="giftsHeadingbott">Juniors'Clothing</h5>
                        <p id="ActivewearJuniour" class="allGiftsbott">Activewear</p>
                        <p id="DressesJuniour" class="allGiftsbott">Dresses</p>
                        <p id="JeansJuniour" class="allGiftsbott">Jeans</p>
                        <p id="PlusSizeJuniour" class="allGiftsbott">Plus Size</p>
                        <p id="TopsJuniour" class="allGiftsbott">Tops</p>
                        <p id="bottomshopAll" class="allGiftsbott">Shop All...</p>
                    </div>
                    <div class="allDivbottKids">
                        <h5 id="ShopbySize" class="giftsHeadingbott">Shop by Size</h5>
                        <p id="boy8_20Kids" class="allGiftsbott">Boys'(8-20)</p>
                        <p id="girls7_16Kids" class="allGiftsbott">Girls(7-16)</p>
                        <p id="boys4_7Kids" class="allGiftsbott">Boys"(4-7)</p>
                        <p id="girls4_6xKids" class="allGiftsbott">Girls"(4-6x)</p>
                        <p id="babyKids" class="allGiftsbott">Baby</p>
                        <p id="bottomshopAlls" class="allGiftsbott">Shop All...</p>
                    </div>
                    <div id="allDivbottMen" class="allDivbottMen">
                        <h5 id="KidsBrands" class="giftsHeadingbott">Kids"Brands</h5>
                        <p id="AdidasKids" class="allGiftsbott">Adidas</p>
                        <p id="CartersKids" class="allGiftsbott">Carter's</p>
                        <p id="LeviKidss" class="allGiftsbott">Levis</p>
                        <p id="NikeKids" class="allGiftsbott">Nike</p>
                        <p id="RalphLaurenKids" class="allGiftsbott">Ralph Lauren</p>
                        <p id="ChildrenswearKids" class="allGiftsbott">Childrenswear</p>
                        <p id="bottomshopAllss" class="allGiftsbott">Shop All...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------- DROP DOWN END HERE --------->
</body>
<script src="drop.js"></script>
<script src="dropWomen.js"></script>
<script src="dropMen.js"></script>
<script src="dropKids.js"></script>
</html>